version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - mysql
    networks:
      - ladyhealth-app-network

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - ./:/var/www
    working_dir: /var/www
    networks:
      - ladyhealth-app-network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ladyhealth
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ladyhealth_mysql_data:/var/lib/mysql
    networks:
      - ladyhealth-app-network

  node:
    image: node:20-alpine
    working_dir: /var/www
    volumes:
      - ./:/var/www
    ports:
      - "5173:5173" # Vite dev server port
    command: sh -c "npm install && npm run dev"
    networks:
      - ladyhealth-app-network

volumes:
  ladyhealth_mysql_data:
networks:
  ladyhealth-app-network:
    driver: bridge
